Sphinx>4.1
aiosqlite>=0.17
black>=21.12b0
darglint>=1.8.1
flake8-docstrings>=1.6
flake8-rst-docstrings>=0.2.5
flake8>=4.0.1
Flake8-pyproject>=1.1.0
isort>=5.10.1
m2r2>=0.3.2,<0.3.3
mongomock>=3.19
mongomock_motor>=0.0.2
mypy-extensions>=0.4.3
mypy>=0.910
pip-tools>=6.6.2
pytest-cov>=3.0
pytest>=6.2
recommonmark>=0.7
sphinx-rtd-theme>=0.5
twine>=3.8
versioneer>=0.21